/*
 * jQuery Chachi Mod Slider v1.0
 * Free to use and abuse.
 * https://github.com/davidsingal/chachi-mod-slider
 */
 
.chachi-mod-slider {position: relative;}
.chachi-wrapper {overflow: hidden;}
.chachi-panels-wrapper {position: relative; left: 0;}
.chachi-panel {position: relative; float: left;}

.chachi-nav {position: absolute; top: -30px; right: 0;}
.chachi-nav ul {margin: 0; padding: 0; list-style: none;}
.chachi-nav li {display: inline;}
.chachi-nav a {display: block; float: left; margin-left: 10px;}