/*
 * jQuery mod Mod Slider v1.1
 * Free to use and abuse.
 * https://github.com/davidsingal/mod-mod-slider
 */
 
.mod-slider {position: relative; display: none;}
.mod-wrapper {overflow: hidden;}
.mod-panels-wrapper {position: relative; left: 0;}
.mod-panel {position: relative; float: left;}

.mod-pag {position: absolute; top: -30px; right: 0;}
.mod-pag ul {margin: 0; padding: 0; list-style: none;}
.mod-pag li {display: inline;}
.mod-pag a {display: block; float: left; margin-left: 10px;}

.mod-nav {width: 0; height: 0;}
.mod-nav .prev, .mod-nav .next {position: absolute; display: block; top: 45%;}
.mod-nav .prev {left: -30px;}
.mod-nav .next {right: -30px;}