/*
 * jQuery Chachi Slider v2.0.0
 * Free to use and abuse.
 * https://github.com/davidsingal/chachi-chachi-slider
 */

.chachi-slider {
  position: relative;
}
.chachi-slider > img,
.chachi-slide-item > img {
  display: none;
}
.chachi-html-caption {
  display: none;
}
.chachi-slide-item {
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background: no-repeat center center;
  background-size: cover;
}
.chachi-slide-item.current {
  opacity: 1;
  z-index: 1;
}
.chachi-slide-next, .chachi-slide-prev {
  display: block;
  position: absolute;
  top: 45%;
  z-index: 2;
}
.chachi-slide-next {
  right: 0;
}
.chachi-slide-prev {
  left: 0;
}
